**1. Convert Daily Stock data in CSV format to Parquet format with Partitions “Year”, “Month”, “Day” refer NSE website historical data set Bhavcopy, the file name appear like cm04MAR2022bhav.csv.zip , Download at least 10 days data**

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf
config = SparkConf()

config.setMaster("local").setAppName("Stockdata")

from pyspark.sql import SparkSession
spark =SparkSession.builder\
                    .config(conf=config)\
                    .getOrCreate()

sc= spark.sparkContext

22/03/12 06:16:42 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.80.128 instead (on interface ens33)
22/03/12 06:16:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/12 06:16:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/12 06:16:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/12 06:16:44 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/12 06:16:44 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
stockDf = spark.read.format("csv")\
                .option("header", True)\
                .option("inferSchema", True)\
                .option("timestampFormat", "dd-MMM-yyyy")\
                .load("hdfs://localhost:9000/stock1/daily1")

stockDf.printSchema()
stockDf.show(2)

root
 |-- SYMBOL: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- OPEN: double (nullable = true)
 |-- HIGH: double (nullable = true)
 |-- LOW: double (nullable = true)
 |-- CLOSE: double (nullable = true)
 |-- LAST: double (nullable = true)
 |-- PREVCLOSE: double (nullable = true)
 |-- TOTTRDQTY: integer (nullable = true)
 |-- TOTTRDVAL: double (nullable = true)
 |-- TIMESTAMP: timestamp (nullable = true)
 |-- TOTALTRADES: integer (nullable = true)
 |-- ISIN: string (nullable = true)
 |-- _c13: string (nullable = true)

+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+
|    SYMBOL|SERIES| OPEN| HIGH|  LOW|CLOSE| LAST|PREVCLOSE|TOTTRDQTY|TOTTRDVAL|          TIMESTAMP|TOTALTRADES|        ISIN|_c13|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+
| 20MICRONS|    EQ|69.95| 71.0|68.45| 69.8| 70.4|     71.6|   140616|9823167.1|2022-03-07 00:00:00|       1742|INE144J01027|null|
|21STCENMGM|    EQ|27.95|27.95|27.95|27.95|27.95|     28.5|      793| 22164.35|2022-03-07 00:00:00|         34|INE253B01015|null|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+
only showing top 2 rows

22/03/12 06:15:22 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: SYMBOL, SERIES, OPEN, HIGH, LOW, CLOSE, LAST, PREVCLOSE, TOTTRDQTY, TOTTRDVAL, TIMESTAMP, TOTALTRADES, ISIN,
 Schema: SYMBOL, SERIES, OPEN, HIGH, LOW, CLOSE, LAST, PREVCLOSE, TOTTRDQTY, TOTTRDVAL, TIMESTAMP, TOTALTRADES, ISIN, _c13
Expected: _c13 but found:
CSV file: hdfs://localhost:9000/stock1/daily1/cm07MAR2022bhav.csv

In [5]:
stockDf = stockDf.drop('_c13')

In [7]:
from pyspark.sql.functions import col
from  pyspark.sql.functions import *

stockDf = stockDf.withColumn("YEAR", date_format("TIMESTAMP", "yyyy"))\
                 .withColumn("MONTH", date_format("TIMESTAMP", "MM"))\
                 .withColumn("DAY", date_format("TIMESTAMP", "dd"))   

stockDf.printSchema()
stockDf.show(2)

root
 |-- SYMBOL: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- OPEN: double (nullable = true)
 |-- HIGH: double (nullable = true)
 |-- LOW: double (nullable = true)
 |-- CLOSE: double (nullable = true)
 |-- LAST: double (nullable = true)
 |-- PREVCLOSE: double (nullable = true)
 |-- TOTTRDQTY: integer (nullable = true)
 |-- TOTTRDVAL: double (nullable = true)
 |-- TIMESTAMP: timestamp (nullable = true)
 |-- TOTALTRADES: integer (nullable = true)
 |-- ISIN: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)

+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+
|    SYMBOL|SERIES| OPEN| HIGH|  LOW|CLOSE| LAST|PREVCLOSE|TOTTRDQTY|TOTTRDVAL|          TIMESTAMP|TOTALTRADES|        ISIN|YEAR|MONTH|DAY|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+
| 20MICRONS|    EQ|69.95| 71.0|68.45| 69.8| 70.4|     71.6|   140616|9823167.1|2022-03-07 00:00:00|       1742|INE144J01027|2022|   03| 07|
|21STCENMGM|    EQ|27.95|27.95|27.95|27.95|27.95|     28.5|      793| 22164.35|2022-03-07 00:00:00|         34|INE253B01015|2022|   03| 07|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+
only showing top 2 rows

In [6]:
stockDf.write.mode("overwrite")\
            .parquet("hdfs://localhost:9000/stockDf-parquet")

In [7]:
stockparquetDf = spark.read.format("parquet")\
                .load("hdfs://localhost:9000/stockDf-parquet")

stockparquetDf.printSchema()
stockparquetDf.show(2)

root
 |-- SYMBOL: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- OPEN: double (nullable = true)
 |-- HIGH: double (nullable = true)
 |-- LOW: double (nullable = true)
 |-- CLOSE: double (nullable = true)
 |-- LAST: double (nullable = true)
 |-- PREVCLOSE: double (nullable = true)
 |-- TOTTRDQTY: integer (nullable = true)
 |-- TOTTRDVAL: double (nullable = true)
 |-- TIMESTAMP: timestamp (nullable = true)
 |-- TOTALTRADES: integer (nullable = true)
 |-- ISIN: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Day: string (nullable = true)

+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+
|    SYMBOL|SERIES| OPEN| HIGH|  LOW|CLOSE| LAST|PREVCLOSE|TOTTRDQTY|TOTTRDVAL|          TIMESTAMP|TOTALTRADES|        ISIN|Year|Month|Day|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+
| 20MICRONS|    EQ|69.95| 71.0|68.45| 69.8| 70.4|     71.6|   140616|9823167.1|2022-03-07 00:00:00|       1742|INE144J01027|2022|   03| 07|
|21STCENMGM|    EQ|27.95|27.95|27.95|27.95|27.95|     28.5|      793| 22164.35|2022-03-07 00:00:00|         34|INE253B01015|2022|   03| 07|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+
only showing top 2 rows

**2. Find the PriceGain, PriceGainP, VolumeGain, VolumeGainP of each stock for 10 days [Refer Point 1] from historical data, write the results to JSON, Parquet, ORC, CSV format in Hadoop. The column should be “Date”, “Symbol”, “PriceGain”, “PriceGainP”, “VolumnGain”, “VolumnGainP”, sorted by PriceGainP in descending order**

volume gain = yesterdays volume and todays volume, lag , traded quantity volume

In [8]:
from pyspark.sql.functions import col

stockDf = stockDf.withColumn('PRICEGAIN', col('CLOSE') -col('OPEN'))\
                .withColumn('PRICEGAINP', (col('PRICEGAIN') / col('OPEN')) *100)


stockDf.printSchema()
stockDf.show(5)

root
 |-- SYMBOL: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- OPEN: double (nullable = true)
 |-- HIGH: double (nullable = true)
 |-- LOW: double (nullable = true)
 |-- CLOSE: double (nullable = true)
 |-- LAST: double (nullable = true)
 |-- PREVCLOSE: double (nullable = true)
 |-- TOTTRDQTY: integer (nullable = true)
 |-- TOTTRDVAL: double (nullable = true)
 |-- TIMESTAMP: timestamp (nullable = true)
 |-- TOTALTRADES: integer (nullable = true)
 |-- ISIN: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- PRICEGAIN: double (nullable = true)
 |-- PRICEGAINP: double (nullable = true)

+----------+------+--------+--------+-------+--------+-------+---------+---------+--------------+-------------------+-----------+------------+----+-----+---+--------------------+--------------------+
|    SYMBOL|SERIES|    OPEN|    HIGH|    LOW|   CLOSE|   LAST|PREVCLOSE|TOTTRDQTY|     TOTTRDVAL|          TIMESTAMP|TOTALTRADES|        ISIN|YEAR|MONTH|DAY|           PRICEGAIN|          PRICEGAINP|
+----------+------+--------+--------+-------+--------+-------+---------+---------+--------------+-------------------+-----------+------------+----+-----+---+--------------------+--------------------+
| 20MICRONS|    EQ|   69.95|    71.0|  68.45|    69.8|   70.4|     71.6|   140616|     9823167.1|2022-03-07 00:00:00|       1742|INE144J01027|2022|   03| 07|-0.15000000000000568|-0.21443888491780658|
|21STCENMGM|    EQ|   27.95|   27.95|  27.95|   27.95|  27.95|     28.5|      793|      22164.35|2022-03-07 00:00:00|         34|INE253B01015|2022|   03| 07|                 0.0|                 0.0|
| 3IINFOLTD|    EQ|   52.25|    55.1|   51.0|    55.1|   55.1|     52.5|  1209245| 6.554553075E7|2022-03-07 00:00:00|       6644|INE748C01038|2022|   03| 07|  2.8500000000000014|   5.454545454545457|
|   3MINDIA|    EQ|20199.35|20199.35|19600.0|19925.95|19935.0| 20379.35|    15772|3.1509127765E8|2022-03-07 00:00:00|       2416|INE470A01017|2022|   03| 07|  -273.3999999999978| -1.3535089000388518|
|    3PLAND|    BE|    15.6|   15.85|   14.9|   15.05|  15.05|     15.6|     3548|      54210.25|2022-03-07 00:00:00|         51|INE105C01023|2022|   03| 07| -0.5499999999999989| -3.5256410256410184|
+----------+------+--------+--------+-------+--------+-------+---------+---------+--------------+-------------------+-----------+------------+----+-----+---+--------------------+--------------------+
only showing top 5 rows

In [9]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag

windowSpec = Window.partitionBy('SYMBOL').orderBy('TOTTRDQTY')

stockDf = stockDf.withColumn('LAG', lag('TOTTRDQTY').over(windowSpec))


stockDf.printSchema()
stockDf.show(2)

root
 |-- SYMBOL: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- OPEN: double (nullable = true)
 |-- HIGH: double (nullable = true)
 |-- LOW: double (nullable = true)
 |-- CLOSE: double (nullable = true)
 |-- LAST: double (nullable = true)
 |-- PREVCLOSE: double (nullable = true)
 |-- TOTTRDQTY: integer (nullable = true)
 |-- TOTTRDVAL: double (nullable = true)
 |-- TIMESTAMP: timestamp (nullable = true)
 |-- TOTALTRADES: integer (nullable = true)
 |-- ISIN: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- PRICEGAIN: double (nullable = true)
 |-- PRICEGAINP: double (nullable = true)
 |-- LAG: integer (nullable = true)

+----------+------+----+-----+----+-----+----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+-------------------+-----------------+-----+
|    SYMBOL|SERIES|OPEN| HIGH| LOW|CLOSE|LAST|PREVCLOSE|TOTTRDQTY|TOTTRDVAL|          TIMESTAMP|TOTALTRADES|        ISIN|YEAR|MONTH|DAY|          PRICEGAIN|       PRICEGAINP|  LAG|
+----------+------+----+-----+----+-----+----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+-------------------+-----------------+-----+
|AMBICAAGAR|    EQ|27.9| 27.9|27.2| 27.2|27.2|     28.6|    25187| 686620.2|2022-03-07 00:00:00|        242|INE792B01012|2022|   03| 07|-0.6999999999999993| -2.5089605734767| null|
|AMBICAAGAR|    EQ|26.4|27.45|26.2| 26.9|26.9|     27.2|    39877|1062675.5|2022-03-08 00:00:00|        517|INE792B01012|2022|   03| 08|                0.5|1.893939393939394|25187|
+----------+------+----+-----+----+-----+----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+-------------------+-----------------+-----+
only showing top 2 rows

In [10]:
from pyspark.sql.functions import col

stockDf = stockDf.withColumn('VOLUMEGAIN', col('TOTTRDQTY') -col('LAG'))\
                .withColumn('VOLUMEGAINP', (col('VOLUMEGAIN') / col('LAG')) *100)


stockDf.printSchema()
stockDf.show(5)

root
 |-- SYMBOL: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- OPEN: double (nullable = true)
 |-- HIGH: double (nullable = true)
 |-- LOW: double (nullable = true)
 |-- CLOSE: double (nullable = true)
 |-- LAST: double (nullable = true)
 |-- PREVCLOSE: double (nullable = true)
 |-- TOTTRDQTY: integer (nullable = true)
 |-- TOTTRDVAL: double (nullable = true)
 |-- TIMESTAMP: timestamp (nullable = true)
 |-- TOTALTRADES: integer (nullable = true)
 |-- ISIN: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- PRICEGAIN: double (nullable = true)
 |-- PRICEGAINP: double (nullable = true)
 |-- LAG: integer (nullable = true)
 |-- VOLUMEGAIN: integer (nullable = true)
 |-- VOLUMEGAINP: double (nullable = true)

+----------+------+-----+-----+-----+-----+-----+---------+---------+----------+-------------------+-----------+------------+----+-----+---+-------------------+------------------+-----+----------+------------------+
|    SYMBOL|SERIES| OPEN| HIGH|  LOW|CLOSE| LAST|PREVCLOSE|TOTTRDQTY| TOTTRDVAL|          TIMESTAMP|TOTALTRADES|        ISIN|YEAR|MONTH|DAY|          PRICEGAIN|        PRICEGAINP|  LAG|VOLUMEGAIN|       VOLUMEGAINP|
+----------+------+-----+-----+-----+-----+-----+---------+---------+----------+-------------------+-----------+------------+----+-----+---+-------------------+------------------+-----+----------+------------------+
|AMBICAAGAR|    EQ| 27.9| 27.9| 27.2| 27.2| 27.2|     28.6|    25187|  686620.2|2022-03-07 00:00:00|        242|INE792B01012|2022|   03| 07|-0.6999999999999993|  -2.5089605734767| null|      null|              null|
|AMBICAAGAR|    EQ| 26.4|27.45| 26.2| 26.9| 26.9|     27.2|    39877| 1062675.5|2022-03-08 00:00:00|        517|INE792B01012|2022|   03| 08|                0.5| 1.893939393939394|25187|     14690| 58.32373843649502|
|AMBICAAGAR|    EQ| 30.4|30.45|28.45| 28.6|28.75|     29.9|    54456|1578917.65|2022-03-04 00:00:00|        458|INE792B01012|2022|   03| 04|-1.7999999999999972|-5.921052631578938|39877|     14579| 36.55992175941019|
|AMBICAAGAR|    EQ|27.65| 28.2| 26.3| 28.2| 28.2|     26.9|    57730| 1603035.7|2022-02-28 00:00:00|        456|INE792B01012|2022|   02| 28| 0.5500000000000007| 1.989150090415916|54456|      3274| 6.012193330395181|
|AMBICAAGAR|    EQ|25.85| 28.3|25.25| 28.3| 28.3|    25.75|    59810| 1641541.4|2022-02-23 00:00:00|        327|INE792B01012|2022|   02| 23| 2.4499999999999993|  9.47775628626692|57730|      2080|3.6029793868006235|
+----------+------+-----+-----+-----+-----+-----+---------+---------+----------+-------------------+-----------+------------+----+-----+---+-------------------+------------------+-----+----------+------------------+
only showing top 5 rows

In [12]:
from pyspark.sql.functions import desc

stockDf = stockDf.sort(col('PRICEGAINP').desc())

stockDf.printSchema()
stockDf.show(2)

root
 |-- SYMBOL: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- OPEN: double (nullable = true)
 |-- HIGH: double (nullable = true)
 |-- LOW: double (nullable = true)
 |-- CLOSE: double (nullable = true)
 |-- LAST: double (nullable = true)
 |-- PREVCLOSE: double (nullable = true)
 |-- TOTTRDQTY: integer (nullable = true)
 |-- TOTTRDVAL: double (nullable = true)
 |-- TIMESTAMP: timestamp (nullable = true)
 |-- TOTALTRADES: integer (nullable = true)
 |-- ISIN: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- PRICEGAIN: double (nullable = true)
 |-- PRICEGAINP: double (nullable = true)
 |-- LAG: integer (nullable = true)
 |-- VOLUMEGAIN: integer (nullable = true)
 |-- VOLUMEGAINP: double (nullable = true)

+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+-------------------+-----------------+----+----------+-----------+
|    SYMBOL|SERIES| OPEN| HIGH|  LOW|CLOSE| LAST|PREVCLOSE|TOTTRDQTY|TOTTRDVAL|          TIMESTAMP|TOTALTRADES|        ISIN|YEAR|MONTH|DAY|          PRICEGAIN|       PRICEGAINP| LAG|VOLUMEGAIN|VOLUMEGAINP|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+-------------------+-----------------+----+----------+-----------+
|  ATNINTER|    BE| 0.15|  0.2| 0.15|  0.2|  0.2|      0.2|    49980|   8507.0|2022-03-07 00:00:00|         31|INE803A01027|2022|   03| 07|0.05000000000000002|33.33333333333335|null|      null|       null|
|SREIBNPNCD|    NP|125.0|165.0|125.0|165.0|165.0|    155.0|      165|  21225.0|2022-02-25 00:00:00|          4|INE881J08581|2022|   02| 25|               40.0|             32.0| 165|         0|        0.0|
+----------+------+-----+-----+-----+-----+-----+---------+---------+---------+-------------------+-----------+------------+----+-----+---+-------------------+-----------------+----+----------+-----------+
only showing top 2 rows

In [19]:
updatedDf = stockDf.select(stockDf.DAY,"MONTH", "YEAR", "SYMBOL", "PRICEGAIN", "PRICEGAINP", "VOLUMEGAIN", "VOLUMEGAINP")\
                    .sort(desc('PRICEGAINP'))

updatedDf.show()

+---+-----+----+----------+-------------------+------------------+----------+------------------+
|DAY|MONTH|YEAR|    SYMBOL|          PRICEGAIN|        PRICEGAINP|VOLUMEGAIN|       VOLUMEGAINP|
+---+-----+----+----------+-------------------+------------------+----------+------------------+
| 07|   03|2022|  ATNINTER|0.05000000000000002| 33.33333333333335|      null|              null|
| 25|   02|2022|SREIBNPNCD|               40.0|              32.0|         0|               0.0|
| 25|   02|2022|      RHFL|  67.69999999999999|28.771780705482357|        31| 6.042884990253411|
| 28|   02|2022|    FELDVR| 2.3499999999999996| 22.59615384615384|      7389|3.6315828275133315|
| 28|   02|2022|  MODISNME| 13.399999999999999|22.558922558922557|      3378|  5.72658845866956|
| 22|   02|2022|  STEELCAS|  53.30000000000001| 22.39495798319328|       284| 8.234270803131343|
| 25|   02|2022|  FILDF2GP|0.21999999999999997| 22.22222222222222|      1835| 176.1036468330134|
| 02|   03|2022|KOTHARIPRO|  19.35000000000001| 21.96367763904655|     74480| 145.5426583812092|
| 24|   02|2022|  ATALREAL|  24.05000000000001|21.666666666666675|      1600|             100.0|
| 23|   02|2022|  VAISHALI|  9.350000000000001|20.085929108485505|     90840| 6.078388731828903|
| 07|   03|2022|IBULHSGFIN|              163.0|19.662243667068758|         3| 8.108108108108109|
| 08|   03|2022| UNITEDTEA|  58.89999999999998|19.633333333333326|      5951|184.69894475481067|
| 22|   02|2022|     KIOCL|  40.35000000000002| 19.38040345821327|    160282|27.915668840838435|
| 03|   03|2022| OSIAHYPER|               40.5|19.194312796208532|         0|               0.0|
| 25|   02|2022|       MCL|  4.400000000000002| 18.96551724137932|     76553| 94.83888551642117|
| 03|   03|2022|  STCINDIA|              17.25|             18.75|    464798| 392.8512263975523|
| 08|   03|2022| MAWANASUG| 22.450000000000003|18.584437086092716|   2306398|115.82489654895343|
| 23|   02|2022|GANGESSECU| 18.650000000000006|18.557213930348265|    113554|45.379125138870016|
| 28|   02|2022|   MAANALU|               21.5|18.399657680787335|    101886|   39.249420230675|
| 23|   02|2022|      DSSL| 32.150000000000006|18.371428571428574|     62587|32.503440575420015|
+---+-----+----+----------+-------------------+------------------+----------+------------------+
only showing top 20 rows

In [20]:
updatedDf.write.mode("overwrite")\
                .json("hdfs://localhost:9000/stockupdated-json")

In [21]:
updatedDf.write.mode("overwrite")\
                .parquet("hdfs://localhost:9000/stockupdated-parquet")

In [22]:
updatedDf.write.mode("overwrite")\
                .orc("hdfs://localhost:9000/stockupdated-orc")

In [23]:
updatedDf.write.mode("overwrite")\
                .csv("hdfs://localhost:9000/stockupdated-csv")

In [24]:
stockparquetDf = spark.read.format("parquet")\
                .load("hdfs://localhost:9000/stockupdated-parquet")

stockparquetDf.printSchema()
stockparquetDf.show(2)

root
 |-- DAY: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- YEAR: string (nullable = true)
 |-- SYMBOL: string (nullable = true)
 |-- PRICEGAIN: double (nullable = true)
 |-- PRICEGAINP: double (nullable = true)
 |-- VOLUMEGAIN: integer (nullable = true)
 |-- VOLUMEGAINP: double (nullable = true)

+---+-----+----+------+--------------------+--------------------+----------+-----------------+
|DAY|MONTH|YEAR|SYMBOL|           PRICEGAIN|          PRICEGAINP|VOLUMEGAIN|      VOLUMEGAINP|
+---+-----+----+------+--------------------+--------------------+----------+-----------------+
| 08|   03|2022|  ISEC|0.049999999999954525|0.008347245409007433|     62097|31.33600787222769|
| 03|   03|2022|  NHAI| 0.09999999999990905| 0.00796876245118408|        46|29.11392405063291|
+---+-----+----+------+--------------------+--------------------+----------+-----------------+
only showing top 2 rows

**3. Use the Intraday 1 Min data from parquet format, calculate Gain, GainP for every hourly window for each stock. The possible column output should be,
“SYMBOL”, “DATEFROM”, “DATETO”, “GAINP” where are DATEFROM and DATETO are timestamp/date columns example, DATEFROM from Feb 01, 2022 10:00 AM to Feb 01, 2022 11:00**

In [20]:
dailyDf = spark.read.format("parquet")\
                .option("header", True)\
                .option("inferSchema", True)\
                .option("timestampFormat", "dd-MMM-yyyy")\
                .load("hdfs://localhost:9000/intraday/Year=2022/Month=02/Day=10")

dailyDf.printSchema()
dailyDf.show(5)

root
 |-- Symbol: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: long (nullable = true)
 |-- OI: long (nullable = true)
 |-- DateTime: timestamp (nullable = true)

+-------+------+------+-----+------+------+---------+-------------------+
| Symbol|  Open|  High|  Low| Close|Volume|       OI|           DateTime|
+-------+------+------+-----+------+------+---------+-------------------+
| ITC_F1|225.55| 226.0|224.7| 225.0|124800|176377600|2022-02-10 09:16:00|
|ZEEL_F1|270.55|270.75|270.4|270.65| 33000| 71523000|2022-02-10 09:16:00|
| ITC_F1| 225.0|225.25|225.0|225.25| 54400|176377600|2022-02-10 09:17:00|
|ZEEL_F1| 270.6| 270.6|270.0|270.25| 21000| 71523000|2022-02-10 09:17:00|
| ITC_F1| 225.5|225.55|225.5|225.55|131200|176448000|2022-02-10 09:18:00|
+-------+------+------+-----+------+------+---------+-------------------+
only showing top 5 rows

In [14]:
dailyDf.groupBy("Symbol", F.window(dailyDf.DateTime, "60 minutes", "60 minutes"))

In [15]:
dailyDf.show()

+-------+------+------+------+------+------+---------+-------------------+
| Symbol|  Open|  High|   Low| Close|Volume|       OI|           DateTime|
+-------+------+------+------+------+------+---------+-------------------+
| ITC_F1|225.55| 226.0| 224.7| 225.0|124800|176377600|2022-02-10 09:16:00|
|ZEEL_F1|270.55|270.75| 270.4|270.65| 33000| 71523000|2022-02-10 09:16:00|
| ITC_F1| 225.0|225.25| 225.0|225.25| 54400|176377600|2022-02-10 09:17:00|
|ZEEL_F1| 270.6| 270.6| 270.0|270.25| 21000| 71523000|2022-02-10 09:17:00|
| ITC_F1| 225.5|225.55| 225.5|225.55|131200|176448000|2022-02-10 09:18:00|
|ZEEL_F1| 269.0|269.05| 267.8| 267.8| 36000| 71529000|2022-02-10 09:18:00|
| ITC_F1| 225.4| 225.4| 225.3| 225.3| 64000|176448000|2022-02-10 09:19:00|
|ZEEL_F1| 268.2|268.85| 268.2| 268.5| 51000| 71529000|2022-02-10 09:19:00|
| ITC_F1| 225.3|225.35| 225.3| 225.3| 19200|176448000|2022-02-10 09:20:00|
|ZEEL_F1| 268.5| 268.5| 267.9| 267.9| 63000| 71529000|2022-02-10 09:20:00|
| ITC_F1| 225.3|225.45| 225.3|225.45| 76800|176460800|2022-02-10 09:21:00|
|ZEEL_F1| 267.8|268.35|267.65|267.75| 45000| 71559000|2022-02-10 09:21:00|
| ITC_F1| 225.4|225.45| 225.2| 225.2| 76800|176460800|2022-02-10 09:22:00|
|ZEEL_F1| 267.7| 267.7| 267.1|267.25| 51000| 71559000|2022-02-10 09:22:00|
| ITC_F1| 225.2|225.25| 225.2|225.25| 44800|176460800|2022-02-10 09:23:00|
|ZEEL_F1| 267.2| 267.9| 267.1| 267.6|102000| 71559000|2022-02-10 09:23:00|
| ITC_F1| 225.4|225.55| 225.3|225.55|102400|176460800|2022-02-10 09:24:00|
|ZEEL_F1| 267.5|267.65| 266.2|267.65| 60000| 71559000|2022-02-10 09:24:00|
| ITC_F1|225.75|226.05|225.65|225.65|211200|176483200|2022-02-10 09:25:00|
|ZEEL_F1| 267.7|267.75| 267.5|267.65| 48000| 71610000|2022-02-10 09:25:00|
+-------+------+------+------+------+------+---------+-------------------+
only showing top 20 rows

In [16]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag

windowSpec = Window.partitionBy('Symbol').orderBy('DateTime')

dailyDf = dailyDf.withColumn('DATEFROM', lag('DateTime').over(windowSpec))\
                .withColumnRenamed("DateTime", "DATETO")\
                .withColumn('GAIN', col('Close') -col('Open'))\
                .withColumn('GAINP', (col('GAIN') / col('Open')) *100)


dailyDf.printSchema()
dailyDf.show(5)

root
 |-- Symbol: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: long (nullable = true)
 |-- OI: long (nullable = true)
 |-- DATETO: timestamp (nullable = true)
 |-- DATEFROM: timestamp (nullable = true)
 |-- GAIN: double (nullable = true)
 |-- GAINP: double (nullable = true)

+-------+-------+-------+-------+-------+------+-----+-------------------+-------------------+----+-----+
| Symbol|   Open|   High|    Low|  Close|Volume|   OI|             DATETO|           DATEFROM|GAIN|GAINP|
+-------+-------+-------+-------+-------+------+-----+-------------------+-------------------+----+-----+
|GOLD_F1|48743.0|48743.0|48743.0|48743.0|     1|11485|2022-02-10 00:00:00|               null| 0.0|  0.0|
|GOLD_F1|48737.0|48737.0|48737.0|48737.0|     1|11485|2022-02-10 00:02:00|2022-02-10 00:00:00| 0.0|  0.0|
|GOLD_F1|48743.0|48743.0|48743.0|48743.0|     1|11486|2022-02-10 00:04:00|2022-02-10 00:02:00| 0.0|  0.0|
|GOLD_F1|48748.0|48748.0|48748.0|48748.0|     1|11487|2022-02-10 00:07:00|2022-02-10 00:04:00| 0.0|  0.0|
|GOLD_F1|48740.0|48740.0|48740.0|48740.0|     1|11487|2022-02-10 00:08:00|2022-02-10 00:07:00| 0.0|  0.0|
+-------+-------+-------+-------+-------+------+-----+-------------------+-------------------+----+-----+
only showing top 5 rows

In [17]:
import pyspark.sql.functions as F
from pyspark.sql.functions import col

HourDailyDf = dailyDf.select(dailyDf.Symbol, "DATEFROM", "DATETO" , "GAINP")


#HourDailyDf.printSchema()
HourDailyDf.show()

+-------+-------------------+-------------------+--------------------+
| Symbol|           DATEFROM|             DATETO|               GAINP|
+-------+-------------------+-------------------+--------------------+
|GOLD_F1|               null|2022-02-10 00:00:00|                 0.0|
|GOLD_F1|2022-02-10 00:00:00|2022-02-10 00:02:00|                 0.0|
|GOLD_F1|2022-02-10 00:02:00|2022-02-10 00:04:00|                 0.0|
|GOLD_F1|2022-02-10 00:04:00|2022-02-10 00:07:00|                 0.0|
|GOLD_F1|2022-02-10 00:07:00|2022-02-10 00:08:00|                 0.0|
|GOLD_F1|2022-02-10 00:08:00|2022-02-10 00:09:00|                 0.0|
|GOLD_F1|2022-02-10 00:09:00|2022-02-10 00:13:00|                 0.0|
|GOLD_F1|2022-02-10 00:13:00|2022-02-10 00:14:00|0.004103574213139644|
|GOLD_F1|2022-02-10 00:14:00|2022-02-10 00:16:00|0.014363393864778905|
|GOLD_F1|2022-02-10 00:16:00|2022-02-10 00:17:00| 0.03076923076923077|
|GOLD_F1|2022-02-10 00:17:00|2022-02-10 00:18:00|0.008201763379126512|
|GOLD_F1|2022-02-10 00:18:00|2022-02-10 00:19:00|-0.04715723863613...|
|GOLD_F1|2022-02-10 00:19:00|2022-02-10 00:20:00|0.006152710268873438|
|GOLD_F1|2022-02-10 00:20:00|2022-02-10 00:21:00|-0.02666119770303...|
|GOLD_F1|2022-02-10 00:21:00|2022-02-10 00:23:00| 0.01640823693494134|
|GOLD_F1|2022-02-10 00:23:00|2022-02-10 00:27:00|                 0.0|
|GOLD_F1|2022-02-10 00:27:00|2022-02-10 00:28:00|                 0.0|
|GOLD_F1|2022-02-10 00:28:00|2022-02-10 00:29:00|-0.01025725187707...|
|GOLD_F1|2022-02-10 00:29:00|2022-02-10 00:31:00|0.010257462303826032|
|GOLD_F1|2022-02-10 00:31:00|2022-02-10 00:32:00|                 0.0|
+-------+-------------------+-------------------+--------------------+
only showing top 20 rows