In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.conf import SparkConf
config = SparkConf()
# config.set("property", "value")
config.setMaster("local").setAppName("MovieLenssql")

config.set("spark.local.dir", "home/ubuntu/spark-temp")

config.set("hive.metastore.uris", "thrift://localhost:9083")
config.set("hive.metastore.warehouse.dir", "hdfs://localhost:9000/user/hive/warehouse")


from pyspark.sql import SparkSession
spark =SparkSession.builder\
                    .config(conf=config)\
                    .enableHiveSupport()\
                    .getOrCreate()

sc= spark.sparkContext

Warning: Ignoring non-Spark config property: hive.metastore.uris
Warning: Ignoring non-Spark config property: hive.metastore.warehouse.dir
22/03/08 02:08:12 WARN Utils: Your hostname, ubuntu-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.80.128 instead (on interface ens33)
22/03/08 02:08:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/03/08 02:08:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/08 02:08:14 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).
22/03/08 02:08:15 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/08 02:08:15 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/08 02:08:15 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/03/08 02:08:15 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [4]:
spark.sql("""
SELECT * FROM moviedb.movies LIMIT 5
""").show()

+--------+--------------------+--------------------+
|movie_id|               title|              genres|
+--------+--------------------+--------------------+
|    null|               title|              genres|
|       1|    Toy Story (1995)|Adventure|Animati...|
|       2|      Jumanji (1995)|Adventure|Childre...|
|       3|Grumpier Old Men ...|      Comedy|Romance|
|       4|Waiting to Exhale...|Comedy|Drama|Romance|
+--------+--------------------+--------------------+

In [10]:
popularMoviesDf = spark.sql("""
SELECT movieId, avg(rating) as avg_rating, count(userId) as total_ratings
FROM ratings
GROUP BY movieId
""")

popularMoviesDf.printSchema()
popularMoviesDf.show(5)

root
 |-- movieId: string (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- total_ratings: long (nullable = false)

[Stage 5:>                                                          (0 + 1) / 1]

+-------+------------------+-------------+
|movieId|        avg_rating|total_ratings|
+-------+------------------+-------------+
|    296| 4.197068403908795|          307|
|   1090| 3.984126984126984|           63|
| 115713|3.9107142857142856|           28|
|   3210|3.4761904761904763|           42|
|  88140|          3.546875|           32|
+-------+------------------+-------------+
only showing top 5 rows

In [11]:
spark.sql("""
CREATE OR REPLACE TEMP VIEW popular_movies AS
SELECT movieId, avg(rating) as avg_rating, count(userId) as total_ratings
FROM ratings
GROUP BY movieId
HAVING avg_rating >= 3.5 AND total_ratings >=100
""")

DataFrame[]

In [12]:
# for dropping a table
#spark.sql("DROP VIEW populat_movies")

In [13]:
spark.sql("SHOW TABLES").show()

+--------+--------------+-----------+
|database|     tableName|isTemporary|
+--------+--------------+-----------+
| default|        brands|      false|
| default|     employees|      false|
| default|        movies|      false|
| default|      payroles|      false|
|        |        movies|       true|
|        |popular_movies|       true|
|        |       ratings|       true|
+--------+--------------+-----------+

In [14]:
spark.sql("SELECT * FROM popular_movies").show(5)

+-------+------------------+-------------+
|movieId|        avg_rating|total_ratings|
+-------+------------------+-------------+
|    296| 4.197068403908795|          307|
|  58559| 4.238255033557047|          149|
|   1265| 3.944055944055944|          143|
|   3996|3.8363636363636364|          110|
|   2762| 3.893854748603352|          179|
+-------+------------------+-------------+
only showing top 5 rows

In [15]:
spark.sql("""
SELECT movies.movieId, title, avg_rating, total_ratings
FROM popular_movies
INNER JOIN movies ON popular_movies.movieId = movies.movieId
ORDER BY avg_rating DESC
""").show()

[Stage 15:=============================================>        (168 + 1) / 200]

+-------+--------------------+------------------+-------------+
|movieId|               title|        avg_rating|total_ratings|
+-------+--------------------+------------------+-------------+
|    318|Shawshank Redempt...| 4.429022082018927|          317|
|    858|Godfather, The (1...|         4.2890625|          192|
|   2959|   Fight Club (1999)| 4.272935779816514|          218|
|   1221|Godfather: Part I...|  4.25968992248062|          129|
|  48516|Departed, The (2006)| 4.252336448598131|          107|
|   1213|   Goodfellas (1990)|              4.25|          126|
|    912|   Casablanca (1942)|              4.24|          100|
|  58559|Dark Knight, The ...| 4.238255033557047|          149|
|     50|Usual Suspects, T...| 4.237745098039215|          204|
|   1197|Princess Bride, T...| 4.232394366197183|          142|
|    260|Star Wars: Episod...| 4.231075697211155|          251|
|    527|Schindler's List ...|             4.225|          220|
|   1208|Apocalypse Now (1...| 4.219626168224299|          107|
|   2329|American History ...| 4.217054263565892|          129|
|   1196|Star Wars: Episod...|4.2156398104265405|          211|
|   1198|Raiders of the Lo...|            4.2075|          200|
|   1193|One Flew Over the...| 4.203007518796992|          133|
|   1089|Reservoir Dogs (1...| 4.202290076335878|          131|
|    296| Pulp Fiction (1994)| 4.197068403908795|          307|
|   2571|  Matrix, The (1999)| 4.192446043165468|          278|
+-------+--------------------+------------------+-------------+
only showing top 20 rows

In [16]:
spark.sql("""
CREATE OR REPLACE TEMP VIEW most_popular_movies AS 
SELECT movies.movieId, title, avg_rating, total_ratings
FROM popular_movies
INNER JOIN movies ON popular_movies.movieId = movies.movieId
ORDER BY avg_rating DESC
""").show()

++
||
++
++

In [17]:
spark.sql("SELECT * FROM most_popular_movies").show(5)

+-------+--------------------+-----------------+-------------+
|movieId|               title|       avg_rating|total_ratings|
+-------+--------------------+-----------------+-------------+
|    318|Shawshank Redempt...|4.429022082018927|          317|
|    858|Godfather, The (1...|        4.2890625|          192|
|   2959|   Fight Club (1999)|4.272935779816514|          218|
|   1221|Godfather: Part I...| 4.25968992248062|          129|
|  48516|Departed, The (2006)|4.252336448598131|          107|
+-------+--------------------+-----------------+-------------+
only showing top 5 rows

In [18]:
mostPopularMoviesDf = spark.table("most_popular_movies")

mostPopularMoviesDf.write\
                    .mode('overwrite')\
                    .saveAsTable("moviedb.most_popular_movies")

mostPopularMoviesDf.show(5)

[Stage 24:=>                                                      (2 + 1) / 110]22/03/08 01:51:00 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:=========>                                             (18 + 1) / 110]22/03/08 01:51:02 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
[Stage 24:===========>                                           (23 + 1) / 110]22/03/08 01:51:02 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
22/03/08 01:51:02 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeInternal(DFSOutputStream.java:577)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:573)
22/03/08 01:51:02 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:================>                                      (32 + 1) / 110]22/03/08 01:51:02 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:==================>                                    (37 + 1) / 110]22/03/08 01:51:03 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
22/03/08 01:51:03 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:=====================>                                 (42 + 1) / 110]22/03/08 01:51:03 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:=======================>                               (46 + 1) / 110]22/03/08 01:51:03 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
22/03/08 01:51:03 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:=========================>                             (50 + 1) / 110]22/03/08 01:51:03 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
22/03/08 01:51:03 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:==============================>                        (61 + 1) / 110]22/03/08 01:51:05 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:================================================>      (96 + 1) / 110]22/03/08 01:51:06 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 24:====================================================> (107 + 1) / 110]22/03/08 01:51:06 WARN DFSClient: Caught exception
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Thread.join(Thread.java:1252)
	at java.lang.Thread.join(Thread.java:1326)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.closeResponder(DFSOutputStream.java:609)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.endBlock(DFSOutputStream.java:370)
	at org.apache.hadoop.hdfs.DFSOutputStream$DataStreamer.run(DFSOutputStream.java:546)
[Stage 27:==========================================>           (157 + 1) / 200]

+-------+--------------------+-----------------+-------------+
|movieId|               title|       avg_rating|total_ratings|
+-------+--------------------+-----------------+-------------+
|    318|Shawshank Redempt...|4.429022082018927|          317|
|    858|Godfather, The (1...|        4.2890625|          192|
|   2959|   Fight Club (1999)|4.272935779816514|          218|
|   1221|Godfather: Part I...| 4.25968992248062|          129|
|  48516|Departed, The (2006)|4.252336448598131|          107|
+-------+--------------------+-----------------+-------------+
only showing top 5 rows

In [19]:
spark.sql("SHOW TABLES IN moviedb").show()

+--------+-------------------+-----------+
|database|          tableName|isTemporary|
+--------+-------------------+-----------+
| moviedb|              links|      false|
| moviedb|most_popular_movies|      false|
| moviedb|             movies|      false|
| moviedb|            ratings|      false|
| moviedb|            reviews|      false|
| moviedb|               tags|      false|
|        |most_popular_movies|       true|
|        |             movies|       true|
|        |     popular_movies|       true|
|        |            ratings|       true|
+--------+-------------------+-----------+